<!-- INVOICE LIST ITEMS -->
<meta name="updatedBy" content="Kasun">
<meta name="modifiedDate" content="15-02-2017">
<meta name="version" content="6.0.1.0">
<meta name="app" content="plans">
<meta name="view" content="list-view.html">

<div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-hide="!isLoading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!-- INVOICE LIST ITEMS -->
<div class="list-item" layout="row" layout-align="center center" flex ng-repeat="plan in vm.plans | filter:vm.search | filter: global.search"
     md-ink-ripple
     ng-click="switchInfoPane('show',plan)"
     ng-class="{'selected': vm.selectedPlanName === plan.name && showInpageReadpane}">

  <div layout="row" layout-align="center center" flex>

    <div class="dual-info" layout="column" layout-align="center start" flex="30" style="max-width: 275px">
      <span>{{plan.name}}</span>
      <div class="dual-info-sub">
        {{plan.type}}
      </div>
    </div>

    <div flex layout="column" layout-align="center start" ng-if="!showInpageReadpane">
      {{plan.code}}
    </div>

    <div flex="10" layout="column" layout-align="center start" ng-if="!showInpageReadpane">
      <span>{{plan.createdDate | parseDate | date: 'dd'}} {{plan.createdDate | parseDate | date: 'MMMM' | limitTo:3}} {{plan.createdDate | parseDate | date: 'yyyy'}}</span>
    </div>

    <div flex layout="column" layout-align="center end" ng-if="!showInpageReadpane">
        <span>{{plan.billEvery}}</span>
    </div>

    <div flex layout="column" layout-align="center end" ng-if="!showInpageReadpane">
        <span>{{plan.unitPrice | isoCurrency:plan.currency :decimalPoint}}</span>
    </div>

    <div flex="5"></div>

    <div class="status" layout="column" layout-align="center start" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
      <span class="pill" layout="row" layout-align="center center" ng-class="{'negative':plan.status==='Inactive','positive':plan.status==='Active'}">{{plan.status}}</span>
    </div>
  </div>
</div>
<!-- PRODUCT LIST ITEMS

<!-- PRODUCT LIST ITEMS
